
body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #000000;
 /* height: 100%;
  line-height: 18px;
  margin: 0px;
  padding: 0px;*/
}
h1 {
  color: #000044;
  font-size: 16px;
  font-weight: bold;
}	
h2 {
  color: #000033;
  font-size: 14px;
  font-weight: bold;
}	
h3 {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}
a {
  color: #000022;*/
}
td, th {
  vertical-align: top;
}
th {
  text-align: left;
}
#login {
	width: 120px;
	padding: 10px 0;
}

#login .input {
  width: 103px;
  font-size: 10px;
  padding-left: 2px;
  font-family: tahoma, geneva, sans-serif;
}
#login .submit {
  padding-top: 5px;
  text-align: right;
  padding-right: 0px;
}

#main {
  display: inline;
  float: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 850px;
  border: 0px solid #33AACC;
  height: 100%;
}
#page {
  display: inline;
  float: left;
  width: 850px;
  background: #ffffff;
  border: 0px solid #CC33CC;
 /* height: 100%; */
}
#top {
  height: 70px;
  background: #33AAFF no-repeat left;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
/*
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
*/
}
#title{
  display: none;
}
#container {
  display: block;
	overflow: hidden;
	border: 2px solid #33AACC;
	/*background: #ffff99;*/
  height: 100%;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
}
#leftbar {
  display: inline;
  width: 130px;
  float: left;
  height: 100%;
  /*height: 400px;*/
  /*border-right: 1px dotted #000000;*/
  background: #ffffff;
}
#content{
  display: inline;
  float: left;
  width: 500px;/*470px;*/
}
#rightbar{
  /*position: relative;*/
  /*display: inline;*/
  float: right;
  /*height: 100%;*/
  height: 400px;
  width: 210px;
  border-left: 1px dotted #000000;
  /*background: #ff99ff;*/
}
#innerleftbar {
  padding: 15px;
}
#innercontent{
  padding: 15px;
}
#innerrightbar{
  padding: 15px;
}

#news {
}
#footer {
  position: relative;
  top: -50px;
  right: 0px;
  left: 700px;
	width: 150px;
	height: 50px;
	font-size: 0.8em;
  bottom:0;
  /*background: #99ffff;*/

}
#footer a {
  text-decoration: none;
  color: #000000;
}

#menu {
  font-size: 12px;
  
}
.mainmenu a {
	text-decoration: none;
	color: #000000;
}
#menu a:link, .menu a:active, .menu a:visited {
}

#menu a:hover, #menu a.active {
  color: #009900;
}
.mainmenu {}
.submenu {
  padding-left: 10px;
}
.submenu a {
	text-decoration: none;
	color: #646464;
}
.login a {
	text-decoration: none;
	color: #009900;
}

.error {
  font-size: 0.8em;
  color: #990000;
}
.info {
  font-size: 0.8em;
  color: #009900;
}
.extra {
  color: #646464;
}
.paging {
  text-align: center;
}
#letter_list {
  text-align: center;
}
#letter_list a {
  color: #646464;
  font-weight: bold;
}
.tooltip {
  padding: 10px;
	background: #dddddd;
	overflow: hidden;
  filter:alpha(opacity=90);
  -moz-opacity:.90;
  opacity:.90;
  /*border: 1px solid #646464;*/
  position: absolute;
}
#image_pos {
  display: inline;
}
#image_pos td {
  border: 1px solid #646464;
  width: 12px;
  text-align: center;
}



